/* oxxo micro proto css */
/* v.0.1.1 - 2017-11-08 */
/* ===============================
 * oxxopus colors
 * 2017-11-08 / jc
 * mit licensed
 * https://github.com/eisenwinter/oxxopuscss
 * ===============================
 * this are the colors used
 * =============================== */
/* ===============================
 * oxxopus settings
 * 2017-11-08 / jc
 * mit licensed
 * https://github.com/eisenwinter/oxxopuscss
 * ===============================
 * this are the basic variables which can be set to cutomize the css
 * =============================== */
@import url("https://fonts.googleapis.com/css?family=Dosis|Raleway");
.no-ident {
  margin-left: 0 !important;
  padding-left: 0 !important; }

.fullsize {
  width: 100% !important; }

.stretch {
  width: 100%;
  height: 100%; }

.full-stretch {
  min-width: 100% !important;
  min-height: 100% !important; }

.center-t {
  text-align: center; }

.right-t {
  text-align: right; }

@media screen and (max-width: 768px) {
  .center-t-m {
    text-align: center; } }

@media screen and (max-width: 768px) {
  .right-t-m {
    text-align: right; } }

@media screen and (min-width: 769px) {
  .mobile {
    display: none !important; } }

@media screen and (max-width: 768px) {
  .desktop {
    display: none !important; } }

.hide {
  display: none !important; }

.hidden {
  visibility: hidden !important; }

.text-primary {
  color: #ee4d4d; }

.text-pink {
  color: #ee4d9d; }

.text-orange {
  color: #ee754d; }

.text-blue {
  color: #4d4dee; }

.text-green {
  color: #4dee4d; }

.text-red {
  color: #ee4d4d; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background-color: #f9f9f9;
  font-family: "Raleway", sans-serif;
  min-height: 100%;
  margin: 0;
  font-size: 16px; }

a {
  color: #ee4d4d; }

.oxxo {
  background-color: #fff;
  min-height: 100%;
  position: relative;
  width: 100%;
  padding: 16px; }
  @media screen and (min-width: 769px) {
    .oxxo {
      max-width: 1024px;
      margin: 0 auto; } }
  .oxxo > * {
    margin-top: 0; }
  .oxxo.border {
    border: 1px solid #eee;
    border-radius: 0;
    box-shadow: none; }
  .oxxo.topped {
    margin-top: 1.5rem;
    border-top: 2px solid #ee4d4d; }

figure {
  margin: .4rem; }

hr {
  position: relative;
  line-height: 1rem;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5rem; }
  hr:before {
    content: "";
    background: #eee;
    position: absolute;
    left: 0;
    top: 45%;
    width: 100%;
    height: 4px; }
  hr:after {
    content: attr(data-text);
    position: relative;
    display: inline-block;
    padding: 0 .5em;
    line-height: 1.5rem;
    color: #777;
    background-color: #eee; }
  hr.left-algined:after {
    left: -45%; }

h1, .like-h1 {
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  margin-bottom: 1.75rem; }

h2, .like-h2 {
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  margin-bottom: 1.75rem; }

h3, .like-h3 {
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  margin-bottom: 1.75rem; }

h4, .like-h4 {
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  margin-bottom: 1.75rem; }

h5, .like-h5 {
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  margin-bottom: 1.75rem; }

h1, .like-h1 {
  font-size: 3.5rem;
  line-height: 1.25; }
  @media screen and (max-width: 768px) {
    h1, .like-h1 {
      font-size: 3rem;
      line-height: 1.3; } }

h2, .like-h2 {
  font-size: 3rem;
  line-height: 1.3; }
  @media screen and (max-width: 768px) {
    h2, .like-h2 {
      font-size: 2.4rem;
      line-height: 1.35; } }

h3, .like-h3 {
  font-size: 2.4rem;
  line-height: 1.35; }
  @media screen and (max-width: 768px) {
    h3, .like-h3 {
      font-size: 2rem;
      line-height: 1.5; } }

h4, .like-h4 {
  font-size: 2rem;
  line-height: 1.5; }
  @media screen and (max-width: 768px) {
    h4, .like-h4 {
      font-size: 1.5rem;
      line-height: 1.6; } }

h5, .like-h5 {
  font-size: 1.5rem;
  line-height: 1.6; }
  @media screen and (max-width: 768px) {
    h5, .like-h5 {
      font: "Raleway", sans-serif;
      font-weight: bold;
      font-size: 1.1rem; } }

.grid {
  margin: -6px; }
  .grid:not(:last-child) {
    margin-bottom: 18px; }
  @media screen and (min-width: 769px) {
    .grid {
      display: flex;
      flex-wrap: wrap; } }
  .grid .col {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 6px;
    margin: 0; }
    @media screen and (min-width: 769px) {
      .grid .col.five {
        flex: 0 0 20%; }
      .grid .col.four {
        flex: 0 0 25%; }
      .grid .col.three {
        flex: 0 0 33.3333%; }
      .grid .col.two {
        flex: 0 0 50%; } }
    .grid .col > * {
      margin: 0; }

input[type='email'] {
  border: 1px solid #eee;
  border-radius: 0;
  box-shadow: none;
  height: 38px;
  padding: 6px 10px;
  box-sizing: border-box;
  background-color: #eee; }

input[type='email']:focus {
  border-color: #d5d5d5;
  outline: 0; }

input[type='email'].error, form .error input[type='email'] {
  border-color: #ee4d4d; }

input[type='number'] {
  border: 1px solid #eee;
  border-radius: 0;
  box-shadow: none;
  height: 38px;
  padding: 6px 10px;
  box-sizing: border-box;
  background-color: #eee; }

input[type='number']:focus {
  border-color: #d5d5d5;
  outline: 0; }

input[type='number'].error, form .error input[type='number'] {
  border-color: #ee4d4d; }

input[type='search'] {
  border: 1px solid #eee;
  border-radius: 0;
  box-shadow: none;
  height: 38px;
  padding: 6px 10px;
  box-sizing: border-box;
  background-color: #eee; }

input[type='search']:focus {
  border-color: #d5d5d5;
  outline: 0; }

input[type='search'].error, form .error input[type='search'] {
  border-color: #ee4d4d; }

input[type='text'] {
  border: 1px solid #eee;
  border-radius: 0;
  box-shadow: none;
  height: 38px;
  padding: 6px 10px;
  box-sizing: border-box;
  background-color: #eee; }

input[type='text']:focus {
  border-color: #d5d5d5;
  outline: 0; }

input[type='text'].error, form .error input[type='text'] {
  border-color: #ee4d4d; }

input[type='text' i] {
  border: 1px solid #eee;
  border-radius: 0;
  box-shadow: none;
  height: 38px;
  padding: 6px 10px;
  box-sizing: border-box;
  background-color: #eee; }

input[type='text' i]:focus {
  border-color: #d5d5d5;
  outline: 0; }

input[type='text' i].error, form .error input[type='text' i] {
  border-color: #ee4d4d; }

input[type='tel'] {
  border: 1px solid #eee;
  border-radius: 0;
  box-shadow: none;
  height: 38px;
  padding: 6px 10px;
  box-sizing: border-box;
  background-color: #eee; }

input[type='tel']:focus {
  border-color: #d5d5d5;
  outline: 0; }

input[type='tel'].error, form .error input[type='tel'] {
  border-color: #ee4d4d; }

input[type='url'] {
  border: 1px solid #eee;
  border-radius: 0;
  box-shadow: none;
  height: 38px;
  padding: 6px 10px;
  box-sizing: border-box;
  background-color: #eee; }

input[type='url']:focus {
  border-color: #d5d5d5;
  outline: 0; }

input[type='url'].error, form .error input[type='url'] {
  border-color: #ee4d4d; }

input[type='password'] {
  border: 1px solid #eee;
  border-radius: 0;
  box-shadow: none;
  height: 38px;
  padding: 6px 10px;
  box-sizing: border-box;
  background-color: #eee; }

input[type='password']:focus {
  border-color: #d5d5d5;
  outline: 0; }

input[type='password'].error, form .error input[type='password'] {
  border-color: #ee4d4d; }

textarea {
  border: 1px solid #eee;
  border-radius: 0;
  box-shadow: none;
  height: 38px;
  padding: 6px 10px;
  box-sizing: border-box;
  background-color: #eee; }

textarea:focus {
  border-color: #d5d5d5;
  outline: 0; }

textarea.error, form .error textarea {
  border-color: #ee4d4d; }

select {
  border: 1px solid #eee;
  border-radius: 0;
  box-shadow: none;
  height: 38px;
  padding: 6px 10px;
  box-sizing: border-box;
  background-color: #eee; }

select:focus {
  border-color: #d5d5d5;
  outline: 0; }

select.error, form .error select {
  border-color: #ee4d4d; }

textarea {
  min-height: 60px;
  min-width: 194px;
  padding: 10px 6px; }

label, legend {
  display: block;
  margin: 0.5rem 0;
  font-weight: 500; }

fieldset {
  padding: 0;
  border: 0; }

input[type="checkbox"], input[type="radio"] {
  display: inline; }

button, .button {
  display: inline-block;
  box-sizing: border-box;
  font-weight: 600;
  line-height: 17.6px;
  white-space: nowrap;
  cursor: pointer;
  outline: 0;
  background-color: #eee;
  padding: 0.5rem;
  margin-top: 0.5rem;
  text-decoration: none;
  border: 1px solid #eee;
  border-radius: 0;
  box-shadow: none; }
  button:not(:last-child), .button:not(:last-child) {
    margin-bottom: 1.5rem; }
  button.primary, .button.primary {
    background-color: #ee4d4d;
    color: #fff; }
  button.pink, .button.pink {
    color: #fff;
    background-color: #ee4d9d; }
  button.orange, .button.orange {
    color: #fff;
    background-color: #ee754d; }
  button.blue, .button.blue {
    color: #fff;
    background-color: #4d4dee; }
  button.green, .button.green {
    color: #777;
    background-color: #4dee4d; }
  button.red, .button.red {
    color: #fff;
    background-color: #ee4d4d; }
  button.primary:hover, .button.primary:hover {
    background-color: #f27c7c; }
  button.primary:focus, .button.primary:focus {
    border-color: #aeaeae; }
  button.primary:active, .button.primary:active {
    background-color: #ec3636; }
  button.pink:hover, .button.pink:hover {
    background-color: #f27cb7; }
  button.pink:focus, .button.pink:focus {
    border-color: #aeaeae; }
  button.pink:active, .button.pink:active {
    background-color: #ec3690; }
  button.orange:hover, .button.orange:hover {
    background-color: #f2997c; }
  button.orange:focus, .button.orange:focus {
    border-color: #aeaeae; }
  button.orange:active, .button.orange:active {
    background-color: #ec6336; }
  button.blue:hover, .button.blue:hover {
    background-color: #7c7cf2; }
  button.blue:focus, .button.blue:focus {
    border-color: #aeaeae; }
  button.blue:active, .button.blue:active {
    background-color: #3636ec; }
  button.green:hover, .button.green:hover {
    background-color: #7cf27c; }
  button.green:focus, .button.green:focus {
    border-color: #aeaeae; }
  button.green:active, .button.green:active {
    background-color: #36ec36; }
  button.red:hover, .button.red:hover {
    background-color: #f27c7c; }
  button.red:focus, .button.red:focus {
    border-color: #aeaeae; }
  button.red:active, .button.red:active {
    background-color: #ec3636; }
  button a, .button a {
    text-decoration: none; }
  button .icon, .button .icon {
    display: inline-block;
    margin: 0 3px; }

form .error label, label.error {
  color: #ee4d4d; }

.left-right {
  align-items: flex-start;
  display: flex;
  text-align: left; }
  @media screen and (max-width: 768px) {
    .left-right {
      display: block; } }
  .left-right:not(:last-child) {
    margin-bottom: 1.5rem; }
  .left-right .left, .left-right .right {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0; }
  .left-right .left {
    margin-left: 0.5rem; }
    @media screen and (max-width: 768px) {
      .left-right .left {
        text-align: center;
        padding-bottom: 0.6rem;
        margin-bottom: 0.6rem; } }
  .left-right .right {
    margin-right: 0.5rem; }
    @media screen and (max-width: 768px) {
      .left-right .right {
        border-top: 1px solid #eee;
        padding-top: 0.6rem;
        margin-top: 0.6rem; } }
  .left-right .middle {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: left; }
  .left-right a {
    text-decoration: none;
    color: #777; }
    .left-right a h2 {
      color: #ee4d4d; }
  .left-right img {
    border-radius: 100px;
    max-width: 128px; }
  .left-right h1, .left-right h2, .left-right h3, .left-right h4, .left-right h5, .left-right p, .left-right span {
    margin: 0 0.5rem; }
  .left-right small {
    margin: 0 1.5rem; }

.plain h1 {
  font-size: -26.5px;
  line-height: 1.25;
  letter-spacing: 0; }
  @media screen and (max-width: 768px) {
    .plain h1 {
      font-size: -34.5px; } }
.plain h2 {
  font-size: -27px;
  line-height: 1.25;
  letter-spacing: 0; }
  @media screen and (max-width: 768px) {
    .plain h2 {
      font-size: -35px; } }
.plain h3 {
  font-size: -27.5px;
  line-height: 1.25;
  letter-spacing: 0; }
  @media screen and (max-width: 768px) {
    .plain h3 {
      font-size: -35.5px; } }
.plain h4 {
  font-size: -28px;
  line-height: 1.25;
  letter-spacing: 0; }
  @media screen and (max-width: 768px) {
    .plain h4 {
      font-size: -36px; } }
.plain h5 {
  font-size: -28.5px;
  line-height: 1.25;
  letter-spacing: 0; }
  @media screen and (max-width: 768px) {
    .plain h5 {
      font-size: -36.5px; } }
.plain p {
  margin-top: 0; }
.plain a {
  color: #ee4d4d; }
  .plain a:hover {
    color: #f27c7c; }
.plain ul, .plain ol {
  padding-left: 0;
  margin-left: 0; }
  .plain ul ul, .plain ul ol, .plain ol ul, .plain ol ol {
    margin: 1.5rem; }
.plain ol {
  list-style: decimal-leading-zero inside; }
.plain ul {
  list-style: circle inside; }
.plain li {
  margin-bottom: 0.75rem; }
.plain code {
  padding: 0.5rem;
  font-size: 14.4px;
  white-space: nowrap;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee; }
.plain pre code {
  display: block;
  white-space: pre; }
.plain pre, .plain blockquote, .plain dl, .plain figure, .plain table, .plain p, .plain ul, .plain ol, .plain form {
  margin-bottom: 2rem; }
.plain hr {
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  border-width: 0;
  border-top: 1px solid #eee; }
  .plain hr:before {
    content: none; }
  .plain hr:after {
    content: none; }
.plain table {
  width: 100%; }
.plain th, .plain td {
  padding: 1rem 1.2rem;
  text-align: left;
  border-bottom: 1px solid #eee; }
  .plain th:first-child, .plain td:first-child {
    padding-left: 0; }
  .plain th:last-child, .plain td:last-child {
    padding-right: 0; }

ul.tags {
  padding-left: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start; }
  ul.tags li {
    display: inline-flex;
    color: #777;
    background-color: #eee;
    font-size: 17.6px;
    font-weight: 500;
    margin-bottom: 0.4rem;
    padding: 0.5rem; }
    ul.tags li:not(:last-child) {
      margin-right: 0.4rem; }
    ul.tags li:last-child {
      margin-right: 0; }
    ul.tags li.primary {
      background-color: #ee4d4d;
      color: #fff; }
    ul.tags li.pink {
      color: #fff;
      background-color: #ee4d9d; }
    ul.tags li.orange {
      color: #fff;
      background-color: #ee754d; }
    ul.tags li.blue {
      color: #fff;
      background-color: #4d4dee; }
    ul.tags li.green {
      color: #777;
      background-color: #4dee4d; }
    ul.tags li.red {
      color: #fff;
      background-color: #ee4d4d; }

.post-line {
  display: block;
  padding: 0.65rem; }
  .post-line:not(:last-child) {
    margin-bottom: 1.5rem; }
  .post-line > *:nth-child(odd) {
    border-left: 4px solid #ee4d4d; }
  .post-line > *:nth-child(even) {
    border-left: 4px solid #eee; }

.toast {
  border: 1px solid #eee;
  border-radius: 0;
  box-shadow: none;
  background-color: #eee;
  padding: 1.5rem; }
  .toast:not(:last-child) {
    margin-bottom: 1.5rem; }
  .toast.primary {
    background-color: #ee4d4d;
    color: #fff; }
  .toast.pink {
    color: #fff;
    background-color: #ee4d9d; }
  .toast.orange {
    color: #fff;
    background-color: #ee754d; }
  .toast.blue {
    color: #fff;
    background-color: #4d4dee; }
  .toast.green {
    color: #777;
    background-color: #4dee4d; }
  .toast.red {
    color: #fff;
    background-color: #ee4d4d; }
  .toast.center-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; }
  @media screen and (min-width: 769px) {
    .toast.bottom-left {
      position: fixed;
      bottom: 0;
      left: 0; }
    .toast.bottom-right {
      position: fixed;
      bottom: 0;
      right: 0; } }
  @media screen and (max-width: 768px) {
    .toast.bottom-left, .toast.bottom-right {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%; } }

.card {
  border: 1px solid #eee;
  border-radius: 0;
  box-shadow: none;
  display: block;
  padding: 1.2rem; }
  .card:not(:last-child) {
    margin-bottom: 1.5rem; }
  .card.primary {
    background-color: #ee4d4d;
    color: #fff; }
  .card.pink {
    color: #fff;
    background-color: #ee4d9d; }
  .card.orange {
    color: #fff;
    background-color: #ee754d; }
  .card.blue {
    color: #fff;
    background-color: #4d4dee; }
  .card.green {
    color: #777;
    background-color: #4dee4d; }
  .card.red {
    color: #fff;
    background-color: #ee4d4d; }
  @media screen and (max-width: 768px) {
    .card {
      width: 100%;
      margin: 0.9rem; } }
  .card > h1, .card h2, .card h3, .card h4, .card h5 {
    margin-top: 0; }

.darken {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 66;
  width: 100%;
  height: 100%;
  background-color: rgba(238, 238, 238, 0.7); }

.dialog {
  position: absolute;
  top: 20px;
  padding: 20px;
  margin: 20px;
  width: calc(100vw - 80px);
  max-height: calc(100vh - 40px);
  background-color: #eee;
  z-index: 99;
  border: 1px solid #eee;
  border-radius: 0;
  box-shadow: none; }
  .dialog.primary {
    background-color: #ee4d4d;
    color: #fff; }
  .dialog.pink {
    color: #fff;
    background-color: #ee4d9d; }
  .dialog.orange {
    color: #fff;
    background-color: #ee754d; }
  .dialog.blue {
    color: #fff;
    background-color: #4d4dee; }
  .dialog.green {
    color: #777;
    background-color: #4dee4d; }
  .dialog.red {
    color: #fff;
    background-color: #ee4d4d; }
  .dialog h1:first-child, .dialog .dialog-title {
    display: block;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #eee; }
  @media screen and (min-width: 769px) {
    .dialog {
      width: 600px;
      left: calc(50vw - 300px); }
      .dialog.big {
        width: 800px;
        left: calc(50vw - 400px); }
      .dialog.small {
        width: 300px;
        left: calc(50vw - 150px); } }

.example {
  position: relative;
  display: block;
  width: 80%;
  background-color: #eee;
  padding: 16px; }
  .example label {
    position: absolute;
    right: 16px; }
  .example code {
    padding: 0.5rem;
    font-size: 14.4px;
    white-space: nowrap; }
  .example pre code {
    display: block;
    white-space: pre; }

.tabs {
  display: flex;
  flex-wrap: wrap; }
  .tabs label {
    cursor: pointer;
    display: block;
    padding: 0.5rem;
    order: 1;
    margin-bottom: 0;
    position: relative; }
  .tabs .tab {
    flex-grow: 1;
    width: 100%;
    display: none;
    padding: 0.5rem;
    order: 5; }
  .tabs input[type='radio'] {
    display: none; }
  .tabs input[type='radio']:checked + label {
    color: #ee4d4d; }
  .tabs input[type='radio']:checked + label + .tab {
    display: block; }
  .tabs.outlined label {
    border-left: 1px solid #eee;
    border-top: 1px solid #eee; }
    .tabs.outlined label:last-of-type {
      border-right: 1px solid #eee; }
  .tabs.outlined .tab {
    border: 1px solid #eee; }

/*# sourceMappingURL=oxxo.css.map */
