/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
@import url("https://fonts.googleapis.com/css?family=Lato|Montserrat|Inconsolata");
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}
td:not([align]),
th:not([align]) {
  text-align: inherit;
}

/* ===============================
 * oxxopus colors
 * 2017-11-08 / jc
 * mit licensed
 * https://github.com/eisenwinter/oxxopuscss
 * ===============================
 * this are the colors used
 * ===============================*/
/* ===============================
 * oxxopus settings
 * 2017-11-08 / jc
 * mit licensed
 * https://github.com/eisenwinter/oxxopuscss
 * ===============================
 * this are the basic variables which can be set to cutomize the css
 * ===============================*/
.no-ident {
  margin-left: 0 !important;
  padding-left: 0 !important;
}

.no-mb {
  margin-bottom: 0 !important;
}

.m-0-auto {
  margin: 0 auto;
}

.mt--small {
  margin-top: 0.5rem !important;
}

.mt--medium {
  margin-top: 1rem !important;
}

.mt--large {
  margin-top: 1.5rem !important;
}

.mb--small {
  margin-bottom: 0.5rem !important;
}

.mb--medium {
  margin-bottom: 1rem !important;
}

.mb--large {
  margin-bottom: 1.5rem !important;
}

.is-fullsize {
  width: 100% !important;
}

.block-space {
  margin-bottom: 1.5rem;
}

.stretch {
  width: 100%;
  height: 100%;
}

.float-right {
  float: right;
}

.full-stretch {
  min-width: 100% !important;
  min-height: 100% !important;
}

.center-t {
  text-align: center;
}

.right-t {
  text-align: right;
}

@media screen and (max-width: 768px) {
  .center-t-m {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .right-t-m {
    text-align: right;
  }
}

@media screen and (min-width: 769px) {
  .mobile {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  .desktop {
    display: none !important;
  }
}

.hide {
  display: none !important;
}

.hidden {
  visibility: hidden !important;
}

.text-primary {
  color: #ee4d4d;
}

.text-blue {
  color: #5bc0de;
}

.text-green {
  color: #34AC5E;
}

.text-red {
  color: #ee4d4d;
}

@media screen and (max-width: 768px) {
  .no-mb-mobile {
    margin-bottom: 0 !important;
  }
}

@media screen and (max-width: 768px) {
  .no-mt-mobile {
    margin-top: 0 !important;
  }
}

.flex {
  display: flex;
}
.flex.space-between {
  justify-content: space-between;
  width: 100%;
}
.flex.space-arround {
  justify-content: space-around;
  width: 100%;
}
.flex.center-v {
  align-items: center;
}
.flex.center-h {
  justify-content: center;
}
.flex.flex-start {
  justify-content: flex-start;
}
.flex.flex-end {
  justify-content: flex-end;
}

.flex-item.top {
  align-self: flex-start;
}
.flex-item.bottom {
  align-self: flex-end;
}

.flex-grow {
  flex-grow: 1;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #f9f9f9;
  font-family: "Lato", sans-serif;
  min-height: 100%;
  margin: 0;
  font-size: 16px;
  height: 100%;
}

a {
  color: #ee4d4d;
}

.main, .section {
  background-color: #fff;
  min-height: 100%;
  position: relative;
  width: 100%;
  padding: 24px;
}
@media screen and (min-width: 769px) {
  .main, .section {
    max-width: 1024px;
    margin: 0 auto;
  }
}
.main > *, .section > * {
  margin-top: 0;
}
.main.border, .section.border {
  border: 1px solid #eee;
  border-radius: 0;
  box-shadow: none;
}
.main.topped, .section.topped {
  margin-top: 1.5rem;
  border-top: 2px solid #ee4d4d;
}
.main.topped.fat, .section.topped.fat {
  border-width: 6px;
}

.section.shadow {
  -webkit-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 769px) {
  .section {
    margin: 0 auto 1.5rem auto;
  }
}

figure {
  margin: 0.4rem;
}

hr {
  position: relative;
  line-height: 1rem;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5rem;
}
hr:before {
  content: "";
  background: #eee;
  position: absolute;
  left: 0;
  top: 45%;
  width: 100%;
  height: 4px;
}
hr:after {
  content: attr(data-text);
  position: relative;
  display: inline-block;
  padding: 0 0.5em;
  line-height: 1.5rem;
  color: #777;
  background-color: #eee;
}
hr.left-algined:after {
  left: -45%;
}

h1, h2, h3, h4, h5, .like-h1, .like-h2, .like-h3, .like-h4, .like-h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-bottom: 1.75rem;
}

h1, .like-h1 {
  font-size: 3.2rem;
  line-height: 1.25;
}
@media screen and (max-width: 768px) {
  h1, .like-h1 {
    font-size: 3rem;
    line-height: 1.3;
  }
}

h2, .like-h2 {
  font-size: 3rem;
  line-height: 1.3;
}
@media screen and (max-width: 768px) {
  h2, .like-h2 {
    font-size: 2.4rem;
    line-height: 1.35;
  }
}

h3, .like-h3 {
  font-size: 2.4rem;
  line-height: 1.35;
}
@media screen and (max-width: 768px) {
  h3, .like-h3 {
    font-size: 1.9rem;
    line-height: 1.5;
  }
}

h4, .like-h4 {
  font-size: 2rem;
  line-height: 1.5;
}
@media screen and (max-width: 768px) {
  h4, .like-h4 {
    font-size: 1.2rem;
    line-height: 1.6;
  }
}

h5, .like-h5 {
  font-size: 1.5rem;
  line-height: 1.6;
}
@media screen and (max-width: 768px) {
  h5, .like-h5 {
    font: "Lato", sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
  }
}

address {
  font-style: normal;
}

.grid {
  margin: -6px;
}
.grid:not(:last-child) {
  margin-bottom: 18px;
}
@media screen and (min-width: 769px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
  }
}
.grid .col {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 6px;
  margin: 0;
}
@media screen and (min-width: 769px) {
  .grid .col.five {
    flex: 0 0 20%;
  }
  .grid .col.four {
    flex: 0 0 25%;
  }
  .grid .col.three {
    flex: 0 0 33.3333%;
  }
  .grid .col.two {
    flex: 0 0 50%;
  }
  .grid .col.three-fourths {
    flex: 0 0 75%;
  }
  .grid .col.one {
    flex: 0 0 100%;
  }
}
.grid .col > * {
  margin: 0;
}

.input {
  border: 1px solid #eee;
  border-radius: 0;
  box-shadow: none;
  height: 38px;
  padding: 6px 10px;
  box-sizing: border-box;
  background-color: #eee;
}
.input.shadow {
  -webkit-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
}
.boxed .input {
  background-color: #fff;
}

.input:focus {
  border-color: #d5d5d5;
  outline: 0;
}

.input.error, form .error .input {
  border-color: #ee4d4d;
}

input[type=email] {
  border: 1px solid #eee;
  border-radius: 0;
  box-shadow: none;
  height: 38px;
  padding: 6px 10px;
  box-sizing: border-box;
  background-color: #eee;
}
input[type=email].shadow {
  -webkit-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
}
.boxed input[type=email] {
  background-color: #fff;
}

input[type=email]:focus {
  border-color: #d5d5d5;
  outline: 0;
}

input[type=email].error, form .error input[type=email] {
  border-color: #ee4d4d;
}

input[type=number] {
  border: 1px solid #eee;
  border-radius: 0;
  box-shadow: none;
  height: 38px;
  padding: 6px 10px;
  box-sizing: border-box;
  background-color: #eee;
}
input[type=number].shadow {
  -webkit-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
}
.boxed input[type=number] {
  background-color: #fff;
}

input[type=number]:focus {
  border-color: #d5d5d5;
  outline: 0;
}

input[type=number].error, form .error input[type=number] {
  border-color: #ee4d4d;
}

input[type=search] {
  border: 1px solid #eee;
  border-radius: 0;
  box-shadow: none;
  height: 38px;
  padding: 6px 10px;
  box-sizing: border-box;
  background-color: #eee;
}
input[type=search].shadow {
  -webkit-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
}
.boxed input[type=search] {
  background-color: #fff;
}

input[type=search]:focus {
  border-color: #d5d5d5;
  outline: 0;
}

input[type=search].error, form .error input[type=search] {
  border-color: #ee4d4d;
}

input[type=text] {
  border: 1px solid #eee;
  border-radius: 0;
  box-shadow: none;
  height: 38px;
  padding: 6px 10px;
  box-sizing: border-box;
  background-color: #eee;
}
input[type=text].shadow {
  -webkit-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
}
.boxed input[type=text] {
  background-color: #fff;
}

input[type=text]:focus {
  border-color: #d5d5d5;
  outline: 0;
}

input[type=text].error, form .error input[type=text] {
  border-color: #ee4d4d;
}

input[type=text i] {
  border: 1px solid #eee;
  border-radius: 0;
  box-shadow: none;
  height: 38px;
  padding: 6px 10px;
  box-sizing: border-box;
  background-color: #eee;
}
input[type=text i].shadow {
  -webkit-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
}
.boxed input[type=text i] {
  background-color: #fff;
}

input[type=text i]:focus {
  border-color: #d5d5d5;
  outline: 0;
}

input[type=text i].error, form .error input[type=text i] {
  border-color: #ee4d4d;
}

input[type=tel] {
  border: 1px solid #eee;
  border-radius: 0;
  box-shadow: none;
  height: 38px;
  padding: 6px 10px;
  box-sizing: border-box;
  background-color: #eee;
}
input[type=tel].shadow {
  -webkit-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
}
.boxed input[type=tel] {
  background-color: #fff;
}

input[type=tel]:focus {
  border-color: #d5d5d5;
  outline: 0;
}

input[type=tel].error, form .error input[type=tel] {
  border-color: #ee4d4d;
}

input[type=url] {
  border: 1px solid #eee;
  border-radius: 0;
  box-shadow: none;
  height: 38px;
  padding: 6px 10px;
  box-sizing: border-box;
  background-color: #eee;
}
input[type=url].shadow {
  -webkit-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
}
.boxed input[type=url] {
  background-color: #fff;
}

input[type=url]:focus {
  border-color: #d5d5d5;
  outline: 0;
}

input[type=url].error, form .error input[type=url] {
  border-color: #ee4d4d;
}

input[type=password] {
  border: 1px solid #eee;
  border-radius: 0;
  box-shadow: none;
  height: 38px;
  padding: 6px 10px;
  box-sizing: border-box;
  background-color: #eee;
}
input[type=password].shadow {
  -webkit-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
}
.boxed input[type=password] {
  background-color: #fff;
}

input[type=password]:focus {
  border-color: #d5d5d5;
  outline: 0;
}

input[type=password].error, form .error input[type=password] {
  border-color: #ee4d4d;
}

input[type=datetime] {
  border: 1px solid #eee;
  border-radius: 0;
  box-shadow: none;
  height: 38px;
  padding: 6px 10px;
  box-sizing: border-box;
  background-color: #eee;
}
input[type=datetime].shadow {
  -webkit-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
}
.boxed input[type=datetime] {
  background-color: #fff;
}

input[type=datetime]:focus {
  border-color: #d5d5d5;
  outline: 0;
}

input[type=datetime].error, form .error input[type=datetime] {
  border-color: #ee4d4d;
}

input[type=datetime-local] {
  border: 1px solid #eee;
  border-radius: 0;
  box-shadow: none;
  height: 38px;
  padding: 6px 10px;
  box-sizing: border-box;
  background-color: #eee;
}
input[type=datetime-local].shadow {
  -webkit-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
}
.boxed input[type=datetime-local] {
  background-color: #fff;
}

input[type=datetime-local]:focus {
  border-color: #d5d5d5;
  outline: 0;
}

input[type=datetime-local].error, form .error input[type=datetime-local] {
  border-color: #ee4d4d;
}

textarea {
  border: 1px solid #eee;
  border-radius: 0;
  box-shadow: none;
  height: 38px;
  padding: 6px 10px;
  box-sizing: border-box;
  background-color: #eee;
}
textarea.shadow {
  -webkit-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
}
.boxed textarea {
  background-color: #fff;
}

textarea:focus {
  border-color: #d5d5d5;
  outline: 0;
}

textarea.error, form .error textarea {
  border-color: #ee4d4d;
}

select {
  border: 1px solid #eee;
  border-radius: 0;
  box-shadow: none;
  height: 38px;
  padding: 6px 10px;
  box-sizing: border-box;
  background-color: #eee;
}
select.shadow {
  -webkit-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
}
.boxed select {
  background-color: #fff;
}

select:focus {
  border-color: #d5d5d5;
  outline: 0;
}

select.error, form .error select {
  border-color: #ee4d4d;
}

textarea {
  min-height: 60px;
  min-width: 194px;
  padding: 10px 6px;
}

label, legend {
  display: block;
  margin: 0.5rem 0;
  font-weight: 500;
}
label.for-checkbox, label.for-radio, legend.for-checkbox, legend.for-radio {
  display: inline;
}

fieldset {
  padding: 0;
  border: 0;
}

input[type=checkbox], input[type=radio] {
  display: inline;
}

button, .button {
  display: inline-block;
  box-sizing: border-box;
  font-weight: 600;
  line-height: 17.6px;
  white-space: nowrap;
  cursor: pointer;
  outline: 0;
  background-color: #eee;
  padding: 0.5rem;
  margin-top: 0.5rem;
  text-decoration: none;
  border: 1px solid #eee;
  border-radius: 0;
  box-shadow: none;
}
button:not(:last-child), .button:not(:last-child) {
  margin-bottom: 1.5rem;
}
button.primary, .button.primary {
  background-color: #ee4d4d;
  color: #fff;
}
button.blue, .button.blue {
  color: #fff;
  background-color: #5bc0de;
}
button.green, .button.green {
  color: #fff;
  background-color: #34AC5E;
}
button.red, .button.red {
  color: #fff;
  background-color: #ee4d4d;
}
button.primary:hover, .button.primary:hover {
  background-color: #f27c7c;
}
button.primary:focus, .button.primary:focus {
  border-color: #aeaeae;
}
button.primary:active, .button.primary:active {
  background-color: #ec3636;
}
button.blue:hover, .button.blue:hover {
  background-color: #85d0e7;
}
button.blue:focus, .button.blue:focus {
  border-color: #aeaeae;
}
button.blue:active, .button.blue:active {
  background-color: #46b8da;
}
button.green:hover, .button.green:hover {
  background-color: #4bc877;
}
button.green:focus, .button.green:focus {
  border-color: #aeaeae;
}
button.green:active, .button.green:active {
  background-color: #2e9853;
}
button.red:hover, .button.red:hover {
  background-color: #f27c7c;
}
button.red:focus, .button.red:focus {
  border-color: #aeaeae;
}
button.red:active, .button.red:active {
  background-color: #ec3636;
}
button a, .button a {
  text-decoration: none;
}
button .icon, .button .icon {
  display: inline-block;
  margin: 0 3px;
}

form .error label, label.error {
  color: #ee4d4d;
}

input[type=email].fullwidth {
  width: 100%;
}

input[type=number].fullwidth {
  width: 100%;
}

input[type=search].fullwidth {
  width: 100%;
}

input[type=text].fullwidth {
  width: 100%;
}

input[type=text i].fullwidth {
  width: 100%;
}

input[type=tel].fullwidth {
  width: 100%;
}

input[type=url].fullwidth {
  width: 100%;
}

input[type=password].fullwidth {
  width: 100%;
}

input[type=datetime].fullwidth {
  width: 100%;
}

input[type=datetime-local].fullwidth {
  width: 100%;
}

textarea.fullwidth {
  width: 100%;
}

select.fullwidth {
  width: 100%;
}

.form-col {
  display: flex;
  justify-content: stretch;
  align-items: baseline;
  align-content: center;
  flex-direction: column;
  padding: 0.75rem;
}
.grid .form-col {
  display: flex;
}
.grid .form-col > * {
  margin: 0.5rem;
}
.grid .form-col > input[type=email] {
  width: 100%;
}
.grid .form-col > input[type=number] {
  width: 100%;
}
.grid .form-col > input[type=search] {
  width: 100%;
}
.grid .form-col > input[type=text] {
  width: 100%;
}
.grid .form-col > input[type=text i] {
  width: 100%;
}
.grid .form-col > input[type=tel] {
  width: 100%;
}
.grid .form-col > input[type=url] {
  width: 100%;
}
.grid .form-col > input[type=password] {
  width: 100%;
}
.grid .form-col > input[type=datetime] {
  width: 100%;
}
.grid .form-col > input[type=datetime-local] {
  width: 100%;
}
.grid .form-col > textarea {
  width: 100%;
}
.grid .form-col > select {
  width: 100%;
}
.grid .form-col > select {
  width: 100%;
}
.grid .form-col > button, .grid .form-col .button {
  width: 100%;
}
@media screen and (min-width: 769px) {
  .grid .form-col > button, .grid .form-col .button {
    width: auto;
  }
}
@media screen and (min-width: 769px) {
  .form-col {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 0;
  }
  .form-col.down {
    margin-top: 2rem;
  }
  .form-col label {
    flex-basis: 100%;
  }
  .form-col label.for-radio, .form-col label.for-checkbox {
    flex-basis: 0;
  }
}

@media print {
  @page {
    size: A4 landscape;
  }
  .no-print {
    display: none;
  }

  .print-center {
    text-align: center;
  }

  .nav, .aside {
    display: none !important;
  }

  .break-after-always {
    page-break-after: always;
  }

  .break-before-always {
    page-break-before: always;
  }

  .boxed {
    break-inside: avoid;
    background-color: #fff !important;
  }

  .cut-line {
    border: 3px #000 dashed !important;
  }
}
.boxed {
  border: 1px solid #eee;
  border-radius: 0;
  box-shadow: none;
  background-color: #eee;
  padding: 1.5rem;
}
.boxed:not(:last-child) {
  margin-bottom: 1.5rem;
}
.boxed.primary {
  background-color: #ee4d4d;
  color: #fff;
}
.boxed.blue {
  color: #fff;
  background-color: #5bc0de;
}
.boxed.green {
  color: #fff;
  background-color: #34AC5E;
}
.boxed.red {
  color: #fff;
  background-color: #ee4d4d;
}
.boxed.shadow {
  -webkit-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 768px) {
  .boxed.half {
    margin: 3rem;
  }
}
@media screen and (min-width: 769px) {
  .boxed.half {
    width: 50%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 769px) {
  .boxed.spaced {
    margin: 40px auto;
  }
}
.boxed.borderless {
  border: 0;
}
.boxed.transparent {
  border: 0;
  background-color: transparent;
}
.boxed.hero {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  padding: 3rem;
  border: 0;
  margin: 0 auto;
}
@media screen and (min-width: 769px) {
  .boxed.hero {
    max-width: 1024px;
  }
}
.boxed.hero .top {
  flex-grow: 1;
  flex-shrink: 0;
}
.boxed.hero .bottom {
  flex-grow: 0;
  flex-shrink: 0;
}

.burger {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 55px;
  height: 50px;
}
.burger.is-light .line {
  background-color: #fff;
  color: #777;
}
.burger.is-dark .line {
  background-color: #4a4a4a;
  color: #fff;
}
.burger .line {
  position: absolute;
  left: 10px;
  height: 3px;
  width: 35px;
  border-radius: 0.35rem;
  display: block;
  transition: 0.5s;
  transform-origin: center;
}
.burger .line:nth-child(1) {
  top: 12px;
}
.burger .line:nth-child(2) {
  top: 24px;
}
.burger .line:nth-child(3) {
  top: 36px;
}
.burger.is-active .line:nth-child(1) {
  transform: translateY(12px)rotate(-45deg);
}
.burger.is-active .line:nth-child(2) {
  opacity: 0;
}
.burger.is-active .line:nth-child(3) {
  transform: translateY(-12px)rotate(45deg);
}

.nav .burger {
  top: 7px;
}

.nav {
  background-color: #fff;
}
.nav ul {
  list-style-type: none;
  margin: 0;
}
.nav ul li {
  display: block;
  padding: 0.3rem 1rem;
}
.nav ul li:first-child {
  padding-top: 0.8rem;
}
.nav ul li a {
  color: #777;
  text-decoration: none;
}
.nav ul li.is-home {
  text-align: center;
}
.nav ul li:hover {
  background-color: #fff;
}
.nav ul li:hover.is-home {
  background-color: transparent;
}
@media screen and (max-width: 768px) {
  .nav {
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    padding-bottom: 15px;
  }
}
@media screen and (min-width: 769px) {
  .nav {
    overflow: hidden;
    background-color: #f9f9f9;
    position: fixed;
    top: 0;
    width: 100%;
    height: 49px;
  }
  .nav.on-top {
    z-index: 999;
    position: sticky;
  }
  .nav ul {
    text-align: center;
    margin: 0;
    padding: 15px;
  }
  .nav ul li, .nav ul li:first-child {
    display: inline;
    padding: 1.2rem;
  }
}

@media screen and (min-width: 769px) {
  body.has-nav {
    padding-top: 49px;
  }
}

@media screen and (min-width: 769px) {
  .has-aside {
    display: flex;
    flex-wrap: wrap;
  }
}
.has-aside .aside {
  background-color: #4a4a4a;
  color: #fff;
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
}
.has-aside .aside.is-light {
  background-color: #fff;
  color: #777;
}
.has-aside .aside.is-dark {
  background-color: #4a4a4a;
  color: #fff;
}
@media screen and (min-width: 769px) {
  .has-aside .aside {
    width: 25%;
  }
}
@media screen and (min-width: 1538px) {
  .has-aside .aside {
    width: 16.6%;
    flex: none;
    max-width: 450px;
  }
}
.has-aside .aside ul.aside-nav {
  list-style: none;
  padding: 0.75rem;
  line-height: 1.25;
  flex-grow: 1;
}
.has-aside .aside ul.aside-nav li {
  padding: 0.75rem;
}
.has-aside .aside ul.aside-nav li:hover {
  background-color: #646464;
}
.has-aside .aside .aside-header, .has-aside .aside .aside-footer {
  padding: 1rem 1.5rem;
}
.has-aside .aside .aside-header {
  background-color: #313131;
}
.has-aside .aside .aside-footer {
  background-color: #313131;
}
.has-aside .aside-content {
  margin: 0;
  flex-grow: 1;
}

.notification {
  border: 1px solid #eee;
  border-radius: 0;
  box-shadow: none;
  background-color: #eee;
  padding: 1.5rem;
}
.notification:not(:last-child) {
  margin-bottom: 1.5rem;
}
.notification.primary {
  background-color: #ee4d4d;
  color: #fff;
}
.notification.blue {
  color: #fff;
  background-color: #5bc0de;
}
.notification.green {
  color: #fff;
  background-color: #34AC5E;
}
.notification.red {
  color: #fff;
  background-color: #ee4d4d;
}
.notification.center-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
@media screen and (min-width: 769px) {
  .notification.bottom-left {
    position: fixed;
    bottom: 0;
    left: 0;
  }
  .notification.bottom-right {
    position: fixed;
    bottom: 0;
    right: 0;
  }
}
@media screen and (max-width: 768px) {
  .notification.bottom-left, .notification.bottom-right {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
}

.stacked:not(:last-child) {
  margin-bottom: 1.5rem;
}
.stacked:not(.grid) {
  display: block;
  padding: 0.65rem;
}
.stacked.grid {
  margin: 0px;
}
.stacked > * {
  padding: 0.35rem;
  padding-left: 0.75rem;
}
.stacked > *:nth-child(odd) {
  border-left: 4px solid #ee4d4d;
}
.stacked > *:nth-child(even) {
  border-left: 4px solid #eee;
}

ul.tags {
  padding-left: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
}
ul.tags li {
  display: inline-flex;
  color: #777;
  background-color: #eee;
  font-size: 17.6px;
  font-weight: 500;
  margin-bottom: 0.4rem;
  padding: 0.5rem;
}
ul.tags li:not(:last-child) {
  margin-right: 0.4rem;
}
ul.tags li:last-child {
  margin-right: 0;
}
ul.tags li.primary {
  background-color: #ee4d4d;
  color: #fff;
}
ul.tags li.blue {
  color: #fff;
  background-color: #5bc0de;
}
ul.tags li.green {
  color: #fff;
  background-color: #34AC5E;
}
ul.tags li.red {
  color: #fff;
  background-color: #ee4d4d;
}
ul.tags li .remove {
  background-color: transparent;
  margin: 0;
  padding: 0;
  margin-left: 0.25rem;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
}
.tabs > label {
  cursor: pointer;
  display: block;
  padding: 0.5rem;
  order: 1;
  margin-bottom: 0;
  position: relative;
}
.tabs .tab {
  flex-grow: 1;
  width: 100%;
  display: none;
  padding: 0.5rem;
  order: 5;
}
.tabs input[type=radio] {
  display: none;
}
.tabs input[type=radio]:checked + label {
  color: #ee4d4d;
}
.tabs input[type=radio]:checked + label + .tab {
  display: block;
}
.tabs.outlined > label {
  border-left: 1px solid #eee;
  border-top: 1px solid #eee;
}
.tabs.outlined > label:last-of-type {
  border-right: 1px solid #eee;
}
.tabs.outlined > .tab {
  border: 1px solid #eee;
}

.plain h1 {
  font-size: -26.5px;
  line-height: 1.25;
  letter-spacing: 0;
}
@media screen and (max-width: 768px) {
  .plain h1 {
    font-size: -34.5px;
  }
}
.plain h2 {
  font-size: -27px;
  line-height: 1.25;
  letter-spacing: 0;
}
@media screen and (max-width: 768px) {
  .plain h2 {
    font-size: -35px;
  }
}
.plain h3 {
  font-size: -27.5px;
  line-height: 1.25;
  letter-spacing: 0;
}
@media screen and (max-width: 768px) {
  .plain h3 {
    font-size: -35.5px;
  }
}
.plain h4 {
  font-size: -28px;
  line-height: 1.25;
  letter-spacing: 0;
}
@media screen and (max-width: 768px) {
  .plain h4 {
    font-size: -36px;
  }
}
.plain h5 {
  font-size: -28.5px;
  line-height: 1.25;
  letter-spacing: 0;
}
@media screen and (max-width: 768px) {
  .plain h5 {
    font-size: -36.5px;
  }
}
.plain p {
  margin-top: 0;
}
.plain a {
  color: #ee4d4d;
}
.plain a:hover {
  color: #f27c7c;
}
.plain ul, .plain ol {
  padding-left: 0;
  margin-left: 0;
}
.plain ul ul, .plain ul ol, .plain ol ul, .plain ol ol {
  margin: 1.5rem;
}
.plain ol {
  list-style: decimal-leading-zero inside;
}
.plain ul {
  list-style: circle inside;
}
.plain li {
  margin-bottom: 0.75rem;
}
.plain code {
  padding: 0.5rem;
  font-size: 14.4px;
  white-space: nowrap;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  font-family: "Inconsolata", monospace;
}
.plain pre code {
  display: block;
  white-space: pre;
}
.plain pre, .plain blockquote, .plain dl, .plain figure, .plain table, .plain p, .plain ul, .plain ol, .plain form {
  margin-bottom: 2rem;
}
.plain hr {
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  border-width: 0;
  border-top: 1px solid #eee;
}
.plain hr:before {
  content: none;
}
.plain hr:after {
  content: none;
}
.plain table {
  width: 100%;
}
.plain th, .plain td {
  padding: 1rem 1.2rem;
  text-align: left;
  border-bottom: 1px solid #eee;
}
.plain th:first-child, .plain td:first-child {
  padding-left: 0;
}
.plain th:last-child, .plain td:last-child {
  padding-right: 0;
}

.fade-in {
  animation-name: fade-in;
  animation-fill-mode: both;
  animation-duration: 0.5s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.zoom-exit {
  animation-name: zoom-exit;
  animation-fill-mode: both;
  animation-duration: 0.5s;
}

@keyframes zoom-exit {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  100% {
    opacity: 0;
    height: 0;
    padding: 0;
    margin: 0;
  }
}
.animation-delay--0-2 {
  animation-delay: 0.2s;
}

.animation-delay--0-3 {
  animation-delay: 0.3s;
}

.animation-delay--0-5 {
  animation-delay: 0.5s;
}

.animation-delay--1 {
  animation-delay: 1s;
}

.animation-delay--1-5 {
  animation-delay: 1.5s;
}

.animation-delay--2 {
  animation-delay: 2s;
}

.animation-delay--2-5 {
  animation-delay: 2.5s;
}

.animation-cascade-1--fast {
  animation-duration: 0.05s;
}

.animation-cascade-1--slow {
  animation-duration: 0.5s;
}

.animation-cascade-2--fast {
  animation-duration: 0.1s;
}

.animation-cascade-2--slow {
  animation-duration: 1s;
}

.animation-cascade-3--fast {
  animation-duration: 0.15s;
}

.animation-cascade-3--slow {
  animation-duration: 1.5s;
}

.animation-cascade-4--fast {
  animation-duration: 0.2s;
}

.animation-cascade-4--slow {
  animation-duration: 2s;
}

.animation-cascade-5--fast {
  animation-duration: 0.25s;
}

.animation-cascade-5--slow {
  animation-duration: 2.5s;
}

.animation-cascade-6--fast {
  animation-duration: 0.3s;
}

.animation-cascade-6--slow {
  animation-duration: 3s;
}

.animation-cascade-7--fast {
  animation-duration: 0.35s;
}

.animation-cascade-7--slow {
  animation-duration: 3.5s;
}

.animation-cascade-8--fast {
  animation-duration: 0.4s;
}

.animation-cascade-8--slow {
  animation-duration: 4s;
}

.animation-cascade-9--fast {
  animation-duration: 0.45s;
}

.animation-cascade-9--slow {
  animation-duration: 4.5s;
}

.animation-cascade-10--fast {
  animation-duration: 0.5s;
}

.animation-cascade-10--slow {
  animation-duration: 5s;
}

/*# sourceMappingURL=page.css.map */
