$boxed-padding: 1.5rem !default
$hero-padding: 3rem !default
.boxed
  +stackable
  +border
  background-color: $boxed-background
  padding: 1.5rem
  +variations
  +light-dark
  +shadow
  & .box-title
    border: 1px solid #eee
    font-size: 1.2rem
    width: 100%
    display: block
    padding-bottom: 0.35rem
    margin-bottom: 0.75rem
    border-bottom: 1px solid darken($boxed-background, 15%)
  &.is-half
    +mobile
      margin: 3rem
    +desktop
      width: 50%
      margin: 0 auto
  &.is-spaced
    +desktop
      margin: 40px auto
  &.is-borderless
    border: 0
  &.is-transparent
    border: 0
    background-color: transparent
  &.is-hero
    display: flex
    flex-direction: column
    align-items: stretch
    justify-content: space-between
    padding: $hero-padding
    border: 0
    margin: 0 auto
    +desktop
      max-width: $content-max-width
    & .top
      flex-grow: 1
      flex-shrink: 0
    & .bottom
      flex-grow: 0
      flex-shrink: 0