$nav-background-color-mobile: $content-bg !default
$nav-background-color: $body-bg !default
$nav-link-color: $font-color !default
$nav-link-hover-color: $font-color-bright !default
$nav-height: 49px !default

.nav
  background-color: $nav-background-color-mobile
  ul
    list-style-type: none
    margin: 0
    li
      display: block
      padding: 0.3rem 1rem
      &:first-child
        padding-top: 0.8rem
      a
        color: $nav-link-color
        text-decoration: none
      &.is-home
        text-align: center
      &:hover
        background-color: $nav-link-hover-color
        &.is-home
          background-color: transparent
  +mobile
    border-bottom: 1px solid #eee
    margin-bottom: 10px
    padding-bottom: 15px
  +desktop
    overflow: hidden
    background-color: $nav-background-color
    position: fixed
    &.on-top
      z-index: 999
      position: sticky
    top: 0
    width: 100%
    height: $nav-height
    ul
      text-align: center
      margin: 0
      padding: 15px
      li, li:first-child
        display: inline
        padding: 1.2rem
body.has-nav
  +desktop
    padding-top: $nav-height

