$fixture-example: 16px
.example
  position: relative
  display: block
  width: 80%
  background-color: $boxed-background
  padding: $fixture-example
  label
    position: absolute
    right: $fixture-example
  code
    padding: .5rem
    font-size: $font-size * 0.9
    white-space: nowrap
  pre code
    display: block
    white-space: pre